* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: #090909;
    line-height: 1.5;
    display: grid;
    place-items: center;
    height: 100vh;
}

img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.game {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    text-transform: uppercase;
    transition: 1s ease;
}

.game header {
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    align-items: center;
}

.player-health {
    position: relative;
    border: 2px solid #fff;
}

.player-health-bar {
    height: 25px;
    background-color: green;
}

.timer {
    background-color: red;
    text-align: center;
    outline: 4px solid #fff;
    z-index: 100;
}

.player-health span {
    position: absolute;
    bottom: 0;
    translate: 0 30px;
}

.player-health-2 {
    right: 0;
}

.main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    place-items: center;
    padding: 25px;
    font-size: 50px;
    font-weight: bolder;
}

.game-feedback {
    position: absolute;
    top: 0;
    translate: 0 75px;
    transform: skewX(-25deg);
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 10px 20px;
    border: 2px solid #000;
    font-size: 25px;
}

.message {
    display: inline-block;
    transform: skewX(25deg);
    font-size: 20px;
}

.player {
    font-size: 150px;
}

.game footer {
    display: flex;
    gap: 30px;
}

.game-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    background: rgb(0 0 0 / 50%);
    transform: skewX(-25deg);
    border: none;
    border-radius: 0;
    cursor: pointer;
    border: 2px solid #fff;
    transition: background 0.25s;
}

.game-btn:hover {
    background: #000;
}

.game-btn span {
    display: inline-block;
    transform: skewX(25deg);
}

.reset-btn {
    margin-left: auto;
}

.start-btn {
    position: absolute;
    top: 79%;
    left: 46%;
    width: 180px;
}

.map1 {
    background: url(img/Map1.webp) bottom no-repeat;
    background-size: cover;
}

.map2 {
    background: url(img/Map2.webp) bottom no-repeat;
    background-size: cover;
}

.map3 {
    background: url(img/Map3.webp) bottom no-repeat;
    background-size: cover;
}

.map4 {
    background: url(img/Map4.webp) bottom no-repeat;
    background-size: cover;
}

.map5 {
    background: url(img/Map5.webp) bottom no-repeat;
    background-size: cover;
}

.hidden {
    display: none;
}